vs2017/Debug/*
*.exe
*.obj
*.ncb
*.suo
*.user
vs2017/Backup/*
*.htm
vs2017/enc_temp_folder/*
vs2008/Debug/*
.vs/*
*.bak
*.o
build/*
/CMakeFiles
/src/CMakeFiles
/src/Debug
/src/xlang.dir/Debug
/Win32/Debug
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/xlang.sln
/INSTALL.vcxproj.filters
/INSTALL.vcxproj
/cmake_install.cmake
/CMakeCache.txt
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/src/cmake_install.cmake
/src/xlang.vcxproj.filters
/src/xlang.vcxproj
/src/reg_exp.h
/src/reg_exp.c
/src/out.log
/src/INSTALL.vcxproj.filters
/src/INSTALL.vcxproj
/src/goto_test
