vs2017/Debug/*
*.exe
*.obj
*.ncb
*.suo
*.user
vs2017/Backup/*
*.htm
vs2017/enc_temp_folder/*
vs2008/Debug/*
.vs/*
*.bak
*.o
build/*
/CMakeFiles
/src/CMakeFiles
/src/Debug
/src/xlang.dir/Debug
/Win32/Debug
*.vcxproj
*.filters
*.sln
*.cmake
*.txt
